fullnameOverride: ${service_name}

auth:
  database: ${postgres_db}
  username: ${postgres_user}
  password: ${postgres_password}

primary:
  persistence:
    enabled: true
    size: ${postgres_persistence_size}
    storageClass: ${postgres_storage_class}
    resourcePolicy: delete
