tenant_id="00000000-0000-0000-0000-000000000000"
github_organization = "github-team"
github_team         = "ops-team"
domain              = "paas-esgi-tutorial.live"
namedotcom_username = "username"
namedotcom_token = "aaaaaaaaaaaaaaaaaaaaaaaaaaaa"
github_token = "ghp_aaaaaaaaaaaaaaaaaaxxxxxxxxxxxx"

secrets = {
  dex_github_client_id = "dex-github-oauth2-app-client-id"
  dex_github_client_secret = "dex-github-oauth2-app-client-secret"
  cert_manager_email = "paas-esgi-tutorial.live4@example.com"
}
