server:
  cert:
    secretName: ${paas_hostname}-tls
  extraVolumeMounts: ${jsonencode(waypoint_extra_volume_mounts)}
  extraVolumes: ${jsonencode(waypoint_extra_volumes)}
ui:
  service:
    type: NodePort
  ingress:
    enabled: true
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-acme-issuer
      kubernetes.io/ingress.class: "${k8s_ingress_class}"
    hosts:
      - host: "${paas_hostname}"
        paths: ["/"]
    tls:
      - hosts:
          - "${paas_hostname}"
        secretName: api.${paas_hostname}-tls
