apiVersion: v1
kind: Namespace
metadata:
  name: {{ cert_manager_namespace }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cert-manager
  namespace: kube-system
spec:
  chart: cert-manager
  targetNamespace: {{ cert_manager_namespace }}
  repo: https://charts.jetstack.io
  valuesContent: |-
    installCRDs: true
---
apiVersion: v1
data:
  tls.crt: "{{ kubeapps_ca_root_location_crt }}"
  tls.key: "{{ kubeapps_ca_root_location_pem }}"
kind: Secret
metadata:
  name: cert-manager-root-ca
  namespace: {{ cert_manager_namespace }}
type: kubernetes.io/tls
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-ca-issuer
spec:
  ca:
    secretName: cert-manager-root-ca
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: {{ cert_manager_email }}
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: {{ cert_manager_private_key_secret }}
    solvers:
    - http01:
        ingress:
          class: {{ kubeapps_k8s_ingress_class }}
# TODO prod
