---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  ingress-hosts.server: |
    ingress-hosts {
      hosts {
        {{ kubeapps_ingress_controller_ip }} {{ ingress_hosts_internals_joined }}
        fallthrough
      }
      whoami
    }
{% if kubeapps_internal_acme_network_ip | d(False) %}
  acme-internal.server: |
    acme-internal {
      hosts {
        {{ kubeapps_internal_acme_network_ip }} acme-internal
        fallthrough
      }
      whoami
    }
{% endif %}
