apiVersion: v1
kind: Namespace
metadata:
  name: {{ kubeapps_dex_namespace }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: dex
  namespace: kube-system
spec:
  chart: dex
  targetNamespace: {{ kubeapps_dex_namespace }}
  repo: https://charts.dexidp.io
  valuesContent: |-
    service:
      ports:
        http:
          nodePort: 5556
    ingress:

      enabled: true
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-acme-issuer
        kubernetes.io/ingress.class: "{{ kubeapps_k8s_ingress_class }}"
        traefik.frontend.passHostHeader: "true"
        traefik.backend.loadbalancer.sticky: "true"
        traefik.ingress.kubernetes.io/router.tls: "true"
      hosts:
      - host: {{ kubeapps_dex_hostname }}
        paths:
          - path: /
            pathType: ImplementationSpecific
      tls:
        - secretName: {{ kubeapps_dex_hostname }}-tls
          hosts:
            - {{ kubeapps_dex_hostname }}
    config:
      issuer: "https://{{ kubeapps_dex_hostname }}"
      web:
        http: 127.0.0.1:5556
      storage:
        type: kubernetes
        config:
          inCluster: true
      connectors:
      - type: github
        id: github
        name: GitHub
        config:
          clientID: '{{ kubeapps_dex_github_client_id }}'
          clientSecret: '{{ kubeapps_dex_github_client_secret }}'
          redirectURI: "https://{{ kubeapps_dex_hostname }}/callback"
          orgs:
          - name: '{{ kubeapps_dex_github_client_org }}'
            teams: 
            - '{{ kubeapps_dex_github_client_team }}'
      oauth2:
        skipApprovalScreen: true
      staticClients:
      - id: kubeapps
        redirectURIs:
        - 'https://{{ kubeapps_hostname }}/callback'
        name: 'Example App'
        secret: ZXhhbXBsZS1hcHAtc2VjcmV0
      enablePasswordDB: true
