apiVersion: v1
kind: Namespace
metadata:
  name: {{ kubeapps_namespace }}
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: kubeapps
  namespace: kube-system
spec:
  chart: kubeapps
  targetNamespace: {{ kubeapps_namespace }}
  repo: https://charts.bitnami.com/bitnami
  valuesContent: |-
    ingress:
      tls: true
      enabled: true
      hostname: "{{ kubeapps_hostname }}"
      annotations:
        cert-manager.io/cluster-issuer: letsencrypt-acme-issuer
        kubernetes.io/ingress.class: "{{ kubeapps_k8s_ingress_class }}"
        traefik.frontend.passHostHeader: "true"
        traefik.backend.loadbalancer.sticky: "true"
        traefik.ingress.kubernetes.io/router.tls: "true"

    authProxy:
      {{ kubeapps_authProxy_final | to_nice_yaml | indent(width=6) }}
      extraVolumeMounts:
        - name: dex-tls
          mountPath: /etc/ssl/certs/
          readOnly: true
    frontend:
      extraVolumes:
        - name: dex-tls
          csi:
            readOnly: true
            driver: csi.cert-manager.io
            volumeAttributes:
              csi.cert-manager.io/issuer-name: {{ cert_manager_cluster_issuer }}
              csi.cert-manager.io/dns-names: {{ kubeapps_dex_hostname }}
              csi.cert-manager.io/issuer-kind: ClusterIssuer

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: dex-cluster-auth
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: edit
subjects:
  - kind: Group
    name: "{{ kubeapps_dex_github_client_org }}:{{ kubeapps_dex_github_client_team }}"
    apiGroup: rbac.authorization.k8s.io
