apiVersion: v1
kind: Namespace
metadata:
  name: metallb-system
  labels:
    app: metallb

---
apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  name: kind-pool
  namespace: metallb-system
spec:
  addresses:
    - {{ metallb_ip_range }}

---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  name: kind-l2
  namespace: metallb-system
