---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: metallb
  namespace: kube-system
spec:
  chart: metallb
  targetNamespace: metallb-system
  repo: https://metallb.github.io/metallb

---
{%- set ip_default_mask = (ansible_default_ipv4.address + '/' + ansible_default_ipv4.netmask) %}

apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: metallb-system
spec:
  config: |
    address-pools:
    - name: default
      protocol: layer2
      addresses:
      - {{ ip_default_mask | ansible.utils.ipaddr('host/prefix') }}
