---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: ingress-nginx
  namespace: kube-system
spec:
  chart: nginx-ingress-controller
  repo: https://charts.bitnami.com/bitnami
  targetNamespace: kube-system
  version: 9.5.1
  valuesContent: |
    fullnameOverride: nginx-ingress-controller
    extraArgs:
      v: 3
    kind: DaemonSet
    useHostPort: true
    defaultBackend:
      service:
        ports:
          http: 8080
