---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: ingress-nginx
  namespace: kube-system
spec:
  chart: ingress-nginx
  repo: https://kubernetes.github.io/ingress-nginx
  targetNamespace: kube-system
  version: 4.6.0
  valuesContent: |
    controller:
      extraArgs:
        v: 4
      hostPort:
        enabled: true
