---
apiVersion: v1
kind: ConfigMap
metadata:
  name: acme-internal-root-ca
  namespace: kube-system
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
data:
  ca.crt: |
    {{ kubeapps_internal_acme_ca_content | indent(4) }}

---
apiVersion: certmanager.k8s.io/v1
kind: Certificate
metadata:
  name: waypoint-self
  namespace: {{ kubeapps_namespace }}
spec:
  secretName: waypoint-self-tls
  issuerRef:
    name: self-ca-cluster-issuer
    kind: ClusterIssuer
  commonName: {{ kubeapps_hostname }} 
  dnsNames:
  - {{ kubeapps_hostname }}
  - {{ api_waypoint_hostname }}
  ipNames:
  - {{ kubeapps_next_ip }}
