---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: reflector
  namespace: kube-system
spec:
  version: 7.0.151
  chart: reflector
  targetNamespace: {{ cert_manager_namespace }}
  repo: https://emberstack.github.io/helm-charts