---
apiVersion: v1
kind: ConfigMap
metadata:
  name: acme-internal-root-ca
  namespace: {{ cert_manager_namespace }}
  annotations:
    reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
    reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
data:
  ca.crt: |
    {{ kubeapps_internal_acme_ca_content | indent(4) }}
