---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: selfsigned-cluster-issuer
spec:
  selfSigned: {}

---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: self-ca
  namespace: {{ cert_manager_namespace }}
spec:
  isCA: true
  commonName: self-ca
  secretName: self-ca
  issuerRef:
    name: selfsigned-cluster-issuer
    kind: ClusterIssuer
  secretTemplate:
    annotations:
      reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
      reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"

---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: self-ca-cluster-issuer
spec:
  ca:
    secretName: self-ca
