---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments: 
      - '--serversTransport.insecureSkipVerify=false'
      - '--serversTransport.rootCAs=/certs/internal/ca.crt,/certs/self/ca.crt'
      - '--serversTransport.serverName=backend.local'
      - '--accesslog'
      - '--log.level=DEBUG'
      - '--api.insecure=true'
    volumes:
    - name: acme-internal-root-ca
      mountPath: "/certs/internal"
      type: configMap
    - name: self-ca
      mountPath: "/certs/self"
      type: secret
