---
apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    additionalArguments: 
      - '--serversTransport.insecureSkipVerify=false'
      - '--serversTransport.rootCAs=/certs/ca.crt'
      - '--accesslog'
      - '--log.level=DEBUG'
      - '--api.insecure=true'
    volumes:
    - name: acme-internal-root-ca
      mountPath: "/certs"
      type: configMap
