---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: waypoint
  namespace: kube-system
spec:
  version: 0.1.18
  chart: waypoint
  targetNamespace: {{ kubeapps_namespace }}
  repo: https://helm.releases.hashicorp.com
  valuesContent: |-
    ui:
      server:
        runArgs: ["-vv", "-url-enabled=false"]
      service:
        type: NodePort
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-acme-issuer
          kubernetes.io/ingress.class: "{{ kubeapps_k8s_ingress_class }}"
        hosts:
          - host: "{{ kubeapps_hostname }}"
            paths: ["/"]
        tls:
          - hosts:
              - "{{ kubeapps_hostname }}"
            secretName: {{ kubeapps_hostname }}-tls

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: "{{ kubeapps_k8s_ingress_class }}"
    nginx.ingress.kubernetes.io/backend-protocol: GRPCS
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/ssl-passthrough: "true"
    nginx.ingress.kubernetes.io/grpc-backend: "true"
    cert-manager.io/cluster-issuer: letsencrypt-acme-issuer
  name: waypoint-grpc
  namespace: {{ kubeapps_namespace }}
spec:
  rules:
    - host: {{ kubeapps_hostname }}
      http:
        paths:
          - backend:
              service:
                name: waypoint-server
                port:
                  name: grpc
            path: /hashicorp.waypoint.Waypoint/
            pathType: ImplementationSpecific

          - backend:
              service:
                name: waypoint-server
                port:
                  name: grpc
            path: /grpc.reflection.v1alpha.ServerReflection/ServerReflectionInfo
            pathType: ImplementationSpecific
  tls:
  - hosts:
    - "{{ kubeapps_hostname }}"
    secretName: {{ kubeapps_hostname }}-tls
