---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: waypoint
  namespace: kube-system
spec:
  version: 0.1.18
  chart: waypoint
  targetNamespace: {{ kubeapps_namespace }}
  repo: https://helm.releases.hashicorp.com
  valuesContent: |-
    ui:
      server:
        certs:
          secretName: {{ kubeapps_hostname }}-tls
      service:
        type: NodePort
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-acme-issuer
          kubernetes.io/ingress.class: "{{ kubeapps_k8s_ingress_class }}"
          traefik.frontend.passHostHeader: "true"
        hosts:
          - host: "{{ kubeapps_hostname }}"
            paths: ["/"]
        tls:
          - hosts:
              - "{{ kubeapps_hostname }}"
            secretName: {{ kubeapps_hostname }}-tls
