#cloud-config
autoinstall:
  version: 1
  locale: ${locale}
  keyboard:
    variant: ${keyboard.variant}
    layout: ${keyboard.layout}
  refresh-installer:
      update: yes
  storage:
    layout:
      name: direct
  network:
    ethernets:
      eth0:
        dhcp4: true
        dhcp-identifier: mac
    version: 2
  ssh:
    install-server: true
    allow-pw: true
  user-data:
    hostname: ${hostname}-server
    disable_root: false
    timezone: Europe/Paris
    preserve_hostname: false
    users:
      - name: ${ssh_username}
        passwd: "${ssh_password_hash}"
        groups: [adm, cdrom, dip, plugdev, sudo]
        lock-passwd: false
        sudo: ALL=(ALL) NOPASSWD:ALL
        shell: /bin/bash
    package_update: true
    package_upgrade: true
    packages:
      - curl
      - ca-certificates
      - wget
      - unzip
      - git
  late-commands:
  # Cgroup ensure v1 as v2 is not supported by some tooling (k8s,...)
    - sed -ie 's/GRUB_CMDLINE_LINUX=.*/GRUB_CMDLINE_LINUX="net.ifnames=0 biosdevname=0 systemd.unified_cgroup_hierarchy=0"/' /target/etc/default/grub
    - curtin in-target --target /target update-grub2
