#cloud-config
autoinstall:
  version: 1
  locale: ${locale}
  keyboard: ${yamlencode(keyboard)}
  refresh-installer:
      update: yes
  storage:
    layout:
      name: lvm
      match:
        size: largest
    swap:
      size: 0
  network:
    ethernets:
      eth0:
        dhcp4: true
        dhcp-identifier: mac
    version: 2
  ssh:
    install-server: true
    allow-pw: true
  packages:
    - bc
    - curl
    - openssh-server
  package_upgrade: true
  user-data:
    hostname: astichost
    disable_root: false
    timezone: Europe/Paris
    users:
      - name: ${ssh_username}
        passwd: ${ssh_password_hash}
        groups: [adm, cdrom, dip, plugdev, sudo]
        lock-passwd: false
        sudo: ALL=(ALL) NOPASSWD:ALL
        shell: /bin/bash
  early-commands:
      - systemctl stop ssh.service
  late-commands:
    - sed -i -e 's/^#\?PasswordAuthentication.*/PasswordAuthentication yes/g' /target/etc/ssh/sshd_config
    - sed -ie 's/GRUB_CMDLINE_LINUX=.*/GRUB_CMDLINE_LINUX="net.ifnames=0 biosdevname=0 systemd.unified_cgroup_hierarchy=1"/' /target/etc/default/grub
    - curtin in-target --target /target update-grub2
    - systemctl start ssh.service
