#cloud-config

timezone: Europe/Paris
ssh_deletekeys: false
resize_rootfs: true
growpart:
  mode: auto
  devices: ["/"]
  ignore_growroot_disabled: false

runcmd:
  - [echo, "${iso_version_tag}"]

ansible:
  install_method: pip
  package_name: ansible
  setup_controller:
    run_ansible:
      - playbook_dir: /playbook
        inventory: /playbook/inventories/contabo/hosts
        playbook_name: site.yaml
        extra_vars: ${join(" ", ansible_vars)} -o 'IdentitiesOnly=yes'
        connection: local
