#cloud-config

system_info:
  default_user:
    name: ${ssh_connection.user}

ssh_deletekeys: false
users:
  - name: ${ssh_connection.user}
    passwd: "${ssh_connection.password_hash}"
    groups: [adm, cdrom, dip, plugdev, sudo]
    lock-passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - "${trim(jsonencode(ssh_connection.public_key), "\"")}"

resize_rootfs: true
growpart:
  mode: auto
  devices: ["/"]
  ignore_growroot_disabled: false

runcmd:
  - [echo, "${iso_version_tag}"]
  - [sed, -ie, 's/^#\?PasswordAuthentication.*/PasswordAuthentication false/g', /etc/ssh/sshd_config.d/50-cloud-init.conf]
  - [echo, "z"]
ansible:
  install_method: pip
  package_name: ansible
  setup_controller:
    run_ansible:
      - playbook_dir: /playbook
        inventory: /playbook/inventories/contabo/hosts
        playbook_name: site.yaml
        extra_vars: ${join(" ", ansible_vars)} -o 'IdentitiesOnly=yes'
        connection: local
