#cloud-config

system_info:
  default_user:
    name: ${ssh_connection.user}

ssh_deletekeys: false
disable_root: 1
ssh_pwauth:   0

users:
  - name: ${ssh_connection.user}
    passwd: "${ssh_connection.password_hash}"
    groups: [adm, cdrom, dip, plugdev, sudo]
    lock-passwd: false
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    ssh_authorized_keys:
      - '${trim(jsonencode(ssh_connection.public_key), "\"")}'

apt:
  sources:
    tailscale.list:
      source: deb https://pkgs.tailscale.com/stable/ubuntu ${ubuntu_release_info.name} main
      keyid: 2596A99EAAB33821893C0A79458CA832957F5868

runcmd:
  - [echo, "${ubuntu_release_info.iso_version_tag}"]
  - [tailscale, up, -authkey, '${tailscale_key}']

ansible:
  install_method: pip
  package_name: ansible
  setup_controller:
    run_ansible:
      - playbook_dir: /playbook
        inventory: /playbook/inventories/contabo/hosts
        playbook_name: site.yaml
        extra_vars: ${join(" ", ansible_vars)} -o 'IdentitiesOnly=yes'
        connection: local
