---
apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  ingress-hosts.server: |
    {{ ingress_hosts_internals_joined }} {
      hosts {
        {{ waypoint_ingress_controller_ip }} {{ ingress_hosts_internals_joined }}
        fallthrough
      }
      whoami
    }
  acme-internal.server: |
    {{ waypoint_internal_acme_host }} {
      hosts {
        {{ waypoint_internal_acme_network_ip }} {{ waypoint_internal_acme_host }}
        fallthrough
      }
      whoami
    }
