---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ waypoint_hostname }}-tls
  namespace: {{ waypoint_namespace }}
spec:
  dnsNames:
  - {{ waypoint_hostname }}
  issuerRef:
    kind: ClusterIssuer
    name: letsencrypt-acme-issuer
  secretName: {{ waypoint_hostname }}-tls

---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: waypoint
  namespace: kube-system
spec:
  version: 0.1.18
  chart: waypoint
  targetNamespace: {{ waypoint_namespace }}
  repo: https://helm.releases.hashicorp.com
  valuesContent: |-
    odr:
      image:
        repository: "{{ waypoint_docker_repository }}"
        tag: "{{ waypoint_version }}"
    runner:
      image:
        repository: "{{ waypoint_docker_repository }}"
        tag: "{{ waypoint_version }}"
    server:
      image:
        repository: "{{ waypoint_docker_repository }}"
        tag: "{{ waypoint_version }}"
      runArgs: ["-vvv"]
      cert:
        secretName: {{ waypoint_hostname }}-tls
    ui:
      service:
        type: NodePort
      ingress:
        enabled: true
        annotations:
          cert-manager.io/cluster-issuer: letsencrypt-acme-issuer
          kubernetes.io/ingress.class: "{{ waypoint_k8s_ingress_class }}"
        hosts:
          - host: "{{ waypoint_hostname }}"
            paths: ["/"]
        tls:
          - hosts:
              - "{{ waypoint_hostname }}"
            secretName: {{ waypoint_hostname }}-tls

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: "{{ waypoint_k8s_ingress_class }}"
    nginx.ingress.kubernetes.io/backend-protocol: GRPCS
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/grpc-backend: "true"
    cert-manager.io/cluster-issuer: letsencrypt-acme-issuer
  name: waypoint-grpc
  namespace: {{ waypoint_namespace }}
spec:
  rules:
    - host: {{ waypoint_hostname }}
      http:
        paths:
          - backend:
              service:
                name: waypoint-server
                port:
                  name: grpc
            path: /hashicorp.waypoint.Waypoint/
            pathType: ImplementationSpecific

          - backend:
              service:
                name: waypoint-server
                port:
                  name: grpc
            path: /grpc.reflection.v1alpha.ServerReflection/ServerReflectionInfo
            pathType: ImplementationSpecific
  tls:
  - hosts:
    - "{{ waypoint_hostname }}"
    secretName: {{ waypoint_hostname }}-tls
